* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}
img {
  width: 100%;
}

body {
  height: 100vh;
  display: grid;
  grid-template:
    "header header" auto
    "left-menu main" 1fr/
    215px 1fr;
}
/*HEADER SECTION */
.header {
  grid-area: header;
  background-color: white;
  display: grid;
  grid-auto-flow: row;

  gap: 0.5rem;
}
/*HEADER TOP SECTION */
.header__top {
  display: grid;
  grid-template-columns: 200px 1fr auto;
}
.header__top button {
  border: none;
  background: none;
}
/* HEADER TOP, LEFT MENU SECTIOM */
.header__left-menu {
  display: grid;
  grid-auto-flow: column;
  background-color: white;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 1rem;
}
.header__left-menu__menu {
  color: #717171;
}
.youtube-logo {
  width: 80px;
}
/*HEADER TOP, MAIN SECTION - SEARCH BAR AND ITS ELEMENTS*/
.header__main {
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 10rem;
  border-bottom: 2px solid #eeeeee;
}
/*HEADER TOP, SEARCH BAR */
.search-bar {
  border: 2px solid #e3e3e3;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #969696;
  height: 40px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/*HEADER TOP, SEARCH BAR, MAGNIFYING GLASS */
.magnifying-glass span {
  color: #8a8a8a;
  background-color: #f8f8f8;
  border-top: 2px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  height: 40px;
  display: grid;
  place-content: center;
  padding: 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/*HEADER TOP, SEARCH BAR, SEARCH WITH YOUR VOICE (MIC) */
.search-with-your-voice span {
  display: grid;
  place-content: center;
  padding-left: 1rem;
  color: #606060;
}
/*HEADER TOP, RIGHT MENU*/
.header__right-menu {
  display: grid;
  grid-template-columns: auto auto 1fr;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 2px solid #eeeeee;
  place-content: center;
}
.youtube-apps {
  color: #595959;
}
.more {
  color: #595959;
}
.sign-in__text {
  font-weight: 550;
}
/*SIGN IN BUTTON */
.header__right-menu__sign-in .sign-in {
  display: grid;
  grid-template-columns: auto 1fr;
  color: #245fcc;
  border: 2px solid #245fcc;
  place-items: center;
  gap: 0.5rem;
  border: 2px solid #245fcc;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}
.sign-in {
  margin-bottom: 0.7rem;
}
/*LEFT MENU SECTION */
.left-menu {
  grid-area: left-menu;
  background-color: white;
  font-size: small;
}
/*LEFT MENU ITEMS */
.left-menu__item {
  display: grid;
  grid-template-columns: 40px 1fr;
  padding: 0.2rem;
  margin-left: 0.7rem;
  align-items: center;
}
.home {
  padding-top: 0%;
}
.left-menu__item__icon {
  color: #5f5f5f;
  /* align-items: center; */
}
.left-menu__item__text {
  color: #262626;
}
.subscriptions {
  border-bottom: 2px solid #eeeeee;
}
.history {
  border-bottom: 2px solid #eeeeee;
}
.left-menu__sign-in {
  padding: 0.8rem;
  margin-left: 0.8rem;
  border-bottom: 2px solid #eeeeee;
}
.sign-in {
  display: grid;
  grid-template-columns: auto 1fr;
  color: #245fcc;
  border: 2px solid #245fcc;
  place-items: center;
  gap: 0.5rem;
  padding: 0.1rem 0.5rem;
  border-radius: 3px;
  background-color: white;
  margin-top: 0.8rem;
}
.left-menu__items__title {
  padding: 0.5rem;
  margin-top: 0.8rem;
  margin-left: 0.8rem;
  color: #656565;
}
.spotlight .left-menu__item__icon {
  color: #e93122;
}
/*MAIN SECTION */
.main {
  grid-area: main;
  background-color: white;
}
/*MAIN TOP  HEADER SECTION */
.main__top {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
  border-bottom: 2px solid #eeeeee;
  background-color: white;
  padding: 0.5rem;
}
.main__top__item {
  padding: 0.6rem;
  background-color: #e6e6e6;
  border: none;
  border-radius: 40px;
}
.main__video-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
  gap: 1rem;
  background-color: #f9f9f9;
  border-bottom: 4px solid #e3e3e3;
}
.main__video-section__video {
  height: 250px;
  display: grid;
  grid-auto-flow: row;
}
.main__video-section__video__items {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  align-content: center;
  place-items: center;
}
.main__video-section__video__picture {
  height: 90%;
}
/*I need to figure out why this works and the actual img class doesn't */
.main__video-section__video__items img {
  border-radius: 50%;
  width: 35px;
}
.main__video-section__video-info {
  margin-left: 3rem;
}
.text {
  font-size: 0.8rem;
  color: #838383;
}
